body {
    margin: 0;
    display: flex;
    flex-direction: row-reverse;

    background-color: rgb(99, 97, 97);
    color: aliceblue;
}

main {
    flex: 1;
    padding: 20px;
    /* background-color: #f1f1f1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-nav {
    flex: 0 0 250px;
    width: 250px;
    position: sticky;
    top: 0;
    right: 0;
    border-left: #e4d9d9 1px solid;
}

.side-nav a {
    padding: 20px ;
    text-decoration: none;
    font-size: 22px;
    color: #e4d9d9;
    display: block;

}

.side-nav a:hover {
    color: #6581a0;
}

.side-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}